---
import Layout from '@/layouts/Layout.astro'
import HeroSection from '@/components/blocks/hero-section/hero-section'
import FeaturedWeddings from '@/components/blocks/featured-weddings-section/featured-weddings'
import AboutUs from '@/components/blocks/about-us-section/about-us-page'
import Testimonials from '@/components/blocks/testimonials-section/testimonials-section'
import Workshops from '@/components/blocks/workshops-section/workshops'
import ContactUs from '@/components/blocks/contact-us-section/contact-us-page'

import { heroSlides } from '@/assets/data/hero'
import { featuredWeddings } from '@/assets/data/featured-weddings'
import { testimonials } from '@/assets/data/testimonials'
import { workshops } from '@/assets/data/workshops'
import { contactInfo } from '@/assets/data/contact-us'

// Page-specific SEO configuration
const pageTitle = ''
const pageDescription =
  'Mimóza Memories - természetes, rusztikus és őszi hangulatú esküvői dekorációk, személyre szabott virágkötészettel.'
const pageKeywords = 'esküvői dekoráció, menyasszonyi csokor, virágkötészet, rusztikus esküvő, Mimóza Memories'

// Structured data for better SEO
const schema = {
  '@context': 'https://schema.org',
  '@type': 'LocalBusiness',
  name: 'Mimóza Memories',
  description: pageDescription,
  image: '/wedding/dori-david/dori-david-profile.jpg',
  offers: {
    '@type': 'Offer',
    priceCurrency: 'HUF'
  },
  author: {
    '@type': 'Organization',
    name: 'Mimóza Memories'
  }
}
---

<Layout title={pageTitle} description={pageDescription} keywords={pageKeywords} schema={schema}>
  <HeroSection heroSlides={heroSlides} client:load />
  <FeaturedWeddings featuredWeddings={featuredWeddings} client:load />
  <div class='w-full py-2' aria-hidden='true'>
    <div class='bg-primary/30 h-[1px] w-full -rotate-1 transform-gpu'></div>
  </div>
  <Workshops workshops={workshops} />
  <AboutUs />
  <Testimonials testimonials={testimonials} client:load />
  <ContactUs contactInfo={contactInfo} />
</Layout>
